<style>
	:host {
		max-height: 320px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		border-bottom: 1px solid #999;
	}

	:host(.hidden) {
		display: none;
	}

	.title {
		flex-basis: 32px;
		padding: 0 4px;
		border-bottom: 1px solid black;
		display: flex;
		align-items: center;
		font-family: monospace;
		font-size: 16px;
		white-space: nowrap;
	}

	.stack {
		flex: 1;
		padding: 4px;
		display: flex;
		flex-direction: column;
		font-family: monospace;
		font-size: 16px;
		overflow: auto;
	}

	.stack-line {
		margin: 4px 0;
		white-space: nowrap;
	}

	.stack-line.lib {
		color: #999;
	}
</style>

<div class="title"></div>
<div class="stack"></div>