<style>
	:host {
		font-size: 0.8em;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	.header {
		flex-basis: 24px;
		overflow: hidden;
		padding: 6px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.header:hover {
		background-color: rgba(32, 64, 128, 1);
	}

	.status {
		flex: 0 0 24px;
	}

	.name {
		flex: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #999;
		transition: color 120ms
	}

	.re-run {
		width: 18px;
		text-align: center;
		color: #999;
		opacity: 0;
		transition: opacity 120ms, color 120ms;
	}

	.re-run:hover {
		color: #ccc;
	}

	:host(:not(.skip):not(.runs))>.header:hover>.re-run {
		opacity: 1;
	}

	.duration {
		font-family: 'Courier New', monospace;
		text-align: right;
	}

	.header>.duration {
		flex-basis: 72px;
		overflow: hidden;
		white-space: nowrap;
		color: #999;
		transition: color 120ms;
	}

	.header:hover>.duration {
		color: #ccc;
	}
</style>

<div class="header">
	<jt-status class="status" data-tie="scope:lastRun.status"></jt-status>
	<span class="name" data-tie="scope:name"></span>
	<span class="re-run">&#9654;</span>
	<jt-duration class="duration" data-tie="scope:lastRun.duration"></jt-duration>
</div>