<style>
	:host {
		--foreground: rgba(224, 224, 224, 1);
		--background: rgba(16, 32, 64, 1);

		color: var(--foreground);
		background-color: var(--background);
		font-size: 20px;
		font-family: sans-serif;
		overflow: hidden;
		user-select: none;
		cursor: default;
		display: flex;
		flex-direction: column;
	}

	.header {
		flex: 0 0 48px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.header .name {
		margin: 0 12px;
	}

	.header .runtime {
		margin: 0 12px;
		font-size: 0.75em;
	}

	.header .counter {
		margin: 0 12px;
		font-size: 1.25em;
	}

	.counter,
	.status {
		flex-basis: 70px;
		font-family: 'Courier New', monospace;
		font-weight: bold;
		text-align: right;
	}

	.counter.pass,
	.status.pass {
		color: #6f4;
	}

	.counter.fail,
	.status.fail {
		color: #f00;
	}

	.counter.skip,
	.status.skip {
		color: gray;
	}

	.status {
		flex-basis: 50px;
	}

	.name {
		flex: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	:host>.header {
		flex: 0 0 var(--jt-masthead-height);
		border-bottom: var(--jt-masthead-border);
	}

	:host>.header>.name {
		font-size: 120%;
		color: #99f;
	}

	.scroll-spacer {
		overflow-y: scroll;
		visibility: hidden;
	}

	.suites {
		flex: 1;
		overflow-x: hidden;
		overflow-y: scroll;
		border-inline-end: 1px solid transparent;
	}

	.suites.hidden {
		display: none;
	}

	.suites>.suite-view:not(:last-child) {
		border-bottom: 1px solid #555;
	}
</style>

<div class="header">
	<span class="name">JustTest</span>
	<span class="runtime">
		<span class="done" data-tie="justTestModel:done"></span>
		&#47;
		<span class="total" data-tie="justTestModel:total"></span>
	</span>
	<span class="counter pass" data-tie="justTestModel:passed"></span>
	<span class="counter fail" data-tie="justTestModel:failed"></span>
	<span class="counter skip" data-tie="justTestModel:skipped"></span>
	<span class="scroll-spacer"></span>
</div>

<div class="suites">
	<data-tier-list data-tie="justTestModel:suites">
		<jt-suite class="suite-view"></jt-suite>
	</data-tier-list>
</div>