<style>
	:host {
		padding-left: 20px;
		font-size: 90%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		line-height: 1.2em;
	}

	:host(:hover) {
		background-color: #111;
	}

	.header {
		flex-basis: 24px;
		padding: 6px;
		display: flex;
		align-items: center;
	}

	.header>.name {
		flex: 1;
		color: #999;
		transition: color 120ms
	}

	.header:hover>.name {
		color: #ccc;
	}

	.header>.error-type {
		padding: 0 8px;
		font-family: monospace;
		border-radius: 4px;
		color: #f00;
	}

	.header>.error-type:hover {
		background-color: #ccc;
	}

	.re-run {
		width: 1.2em;
		height: 1.2em;
		margin: 0 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: monospace;
		border-radius: 4px;
		color: #999;
		opacity: 0;
		transition: opacity 120ms, color 120ms;
	}

	.re-run:hover {
		color: #ccc;
	}

	.re-run:before {
		content: "\25b6";
	}

	:host(:not(.skip):not(.runs))>.header:hover>.re-run {
		opacity: 1;
	}

	.header>.status,
	.duration {
		font-family: Courier;
		text-align: right;
	}

	.header>.duration {
		flex-basis: 99px;
		overflow: hidden;
		white-space: nowrap;
		color: #999;
		transition: color 120ms;
	}

	.header:hover>.duration {
		color: #ccc;
	}

	.header>.status {
		width: 1.2em;
		height: 1.2em;
		margin-left: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: monospace;
	}

	:host(.wait)>.header>.status::before {
		color: #ccc;
		content: "\22ef";
	}

	:host(.runs)>.header>.status::before {
		color: #88f;
		content: "\22ef";
	}

	:host(.runs)>.header>.status {
		transform: rotate(18000deg);
		transition: transform 100s linear;
	}

	:host(.pass)>.header>.status::before {
		color: #6f4;
		content: "\2713";
	}

	:host(.fail)>.header>.status::before {
		color: #f00;
		content: "\2718";
	}

	:host(.skip)>.header>.status:before {
		color: #ccc;
		content: "\22ef";
	}

	.error {
		height: auto;
		max-height: 0px;
		transition: max-height 100ms;
		overflow-x: hidden;
		overflow-y: auto;
		font-family: Courier;
		background-color: #111;
		cursor: text;
		user-select: text;
	}

	:host(.errorOpen)>.error {
		max-height: 240px;
	}

	.error-line {
		padding: 2px 0 2px 24px;
		font-family: Courier;
		overflow: hidden;
		white-space: nowrap;
	}
</style>

<div class="header">
	<span class="name"></span>
	<span class="error-type"></span>
	<span class="re-run"></span>
	<span class="duration"></span>
	<span class="status"></span>
</div>
<div class="error"></div>