<style>
	:host {
		overflow: auto;
		user-select: none;
		cursor: default;
		display: flex;
		flex-direction: column;
	}

	.counter,
	.status {
		flex-basis: 70px;
		font: var(--jt-font-mono);
		text-align: right;
	}

	.counter.pass,
	.status.pass {
		color: #6f4;
	}

	.counter.fail,
	.status.fail {
		color: #f00;
	}

	.counter.skip,
	.status.skip {
		color: gray;
	}

	.status {
		flex-basis: 50px;
	}

	.name {
		flex: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.scroll-spacer {
		overflow-y: scroll;
		visibility: hidden;
	}

	.suites {
		flex: 1;
		overflow-x: hidden;
		overflow-y: scroll;
		border-inline-end: 1px solid transparent;
	}

	.suites.hidden {
		display: none;
	}

	.suites>.suite-view:not(:last-child) {
		border-bottom: 1px solid #555;
	}
</style>

<div class="suites">
	<data-tier-list data-tie="justTestModel:suites => items">
		<jt-suite class="suite-view" data-tie="item => scope"></jt-suite>
	</data-tier-list>
</div>