:root {
	--jt-color-primary: #fff;
	--jt-color-on-primary: #000;
	--jt-color-success: #0f0;
	--jt-color-error: #f00;
	--jt-color-skip: #777;

	--jt-masthead-height: 64px;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: row;
}

.just-test-control {
	flex: 0 0 50%;
	max-width: 600px;
	background-color: var(--jt-color-primary);
	color: var(--jt-color-on-primary);
}

.just-test-details {
	flex: 1;
}

.just-test-execution-frame {
	position: absolute;
	visibility: hidden;
}