:root {
	--jt-color-primary: #fff;
	--jt-color-on-primary: #000;
	--jt-color-success: #0f0;
	--jt-color-error: #f00;
	--jt-color-skip: #777;

	/* typography */
	--jt-font-base: normal 400 16px / 1.5 Tahoma, Verdana, sans-serif;
	--jt-font-mono: normal 400 16px / 1.5 'Courier New', Courier, monospace;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	font: var(--jt-font-base);
	color: var(--jt-color-on-primary);
	background-color: var(--jt-color-primary);
}

.header {
	flex: 0 0 52px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header .name {
	margin: 0 12px;
	font-size: 120%;
	color: #99f;
}

.header .runtime {
	margin: 0 12px;
	font-size: 0.75em;
}

.header .counter {
	margin: 0 12px;
	font-size: 1.25em;
}

.content {
	flex: 1;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

.just-test-control {
	flex: 0 0 50%;
	max-width: 600px;
	border-inline-end: 1px solid var(--jt-color-on-primary);
}

.just-test-details {
	flex: 1;
}

.just-test-execution-frame {
	position: absolute;
	visibility: hidden;
}