name: Release (Git tag)
run-name: Releasing '${{ inputs.version }}' update (by @${{ github.actor }})

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version bump kind"
        required: true
        type: choice
        options: ["patch", "minor", "major"]
        default: "patch"

jobs:
  release:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: npm ci

      - name: Bump & Tag version
        run: |
          git config user.name "automation"
          git config user.email "ci.gullerya@gmail.com"
          npm config set tag-version-prefix ''
          npm version ${{ inputs.version }}
          git push && git push --tags
